<%= form_with(model: @file_entry, url: file_entry_path(@file_entry), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

