<%= form_with(model: @file_entry, url: file_entry_path(@file_entry), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :directory %>
    <%= form.select :directory_id, Directory.all.collect {|d| [d.name, d.id]}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

